<!-- this line includes the contents of the header.html file-->
{% include 'header.html' %}
<!-- this div contains the main content of the page-->
  <div class="container">
    <div class="row mt-4 pt-4 mb-0">
        <div class="col-md-12">

          <!-- this is the main heading of the page-->
            <h1>Ecommerce Business  </h1>

            <!-- this is the introductory paragraph of the page-->
          <p>
            Welcome to our E-Commerce Business 

            Looking for stylish and functional Furniture, Kitchen Accessories, Auto Parts, Laptops, Watches, and Glasses?
            look no further! our online store offers a wide range of products to meet your needs and exceed your expectations
            we have everything you need to make your office look and feel great, need a new laptop or a stylish watch to keep
            your busy schedule? We've got you covered. We take pride in providing high-quality products at competitive prices,
            along with exceptional customer service.

            so why wait? browse our selection today and discover the perfect pieces to enhance your spance and your life
            </p>
            <!-- this is the subheading on the page-->
            <h2>About</h2>

            <!-- this is a paragraph containing more information about the website-->
            <p>
              About our E-Commerce Business

              At our e-commerce business, we believe in offering our customers the best products they need and services 
              at the most competitive prices. That's why we've carefully selected the best software to help us manage returns
              and ensure that every customer is satisfied with their purchase.  
           </p>
         
        </div>
       
    </div>
  </div>

  <!-- this line inludes the contents of the footer.html file-->
  {% include 'footer.html' %}